.tiptap {
    :first-child {
      margin-top: 0;
    }
    [contenteditable="true"] {
      outline: none ;
      box-shadow: none ;
      border: none ; /* Optional: remove internal border */
    }
    /* List styles */
    ul, 
    ol {
      list-style-type: disc;
      padding-left: 1.5rem;
      
      li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }
    }
  }

  